.contents__block--one:after {
  height: auto;
  background:black;
  position: absolute;
  z-index: -1;
  transition: all .9s;
  content:"";
  }

.contents__block--one:hover:after{
  content: "Nobody's perfect.";
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  line-height: 1;
  color: white;
  width: 100%;
  word-wrap: break-word;
  white-space: normal;
 }  

 .contents__block--one:hover{
  filter: grayscale(100%);
  transform: scale(1.1, 1.1);
 }  

 .contents__block--two:after {
  height: auto;
  background:black;
  position: absolute;
  z-index: -1;
  transition: all .9s;
  content:"";
  }

.contents__block--two:hover:after{
  content: "Carpe diem. Seize the day, boys.";
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  line-height: 1;
  color: white;
  width: 100%;
 }  

 .contents__block--two:hover{
  filter: grayscale(100%);
  transform: scale(1.1, 1.1);
 }  


 .contents__block--three:after {
  height: auto;
  background:black;
  position: absolute;
  z-index: -1;
  transition: all .9s;
  content:"";
  }

.contents__block--three:hover:after{
  content: "The first rule of Fight Club is: You do not talk about Fight Club.";
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  line-height: 1;
  width: 100%;
  color: white;
  word-wrap: break-word;
  white-space: normal;
 }  

 .contents__block--three:hover{
  filter: grayscale(100%);
  transform: scale(1.1, 1.1);
 }  


 .contents__block--four:after {
  height: auto;
  background:black;
  position: absolute;
  z-index: -1;
  transition: all .9s;
  content:"";
  }

.contents__block--four:hover:after{
  content: "I'm going to make him an offer he can't refuse.";
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  line-height: 1;
  width: 100%;
  color: white;
  word-wrap: break-word;
  white-space: normal;
 }  

 .contents__block--four:hover{
  filter: grayscale(100%);
  transform: scale(1.1, 1.1);
 }  


 .contents__block--five:after {
  height: auto;
  background:black;
  position: absolute;
  z-index: -1;
  transition: all .9s;
  content:"";
  }

.contents__block--five:hover:after{
  content: "It's not my back that's killing me.";
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  line-height: 1;
  width: 100%;
  color: white;
  word-wrap: break-word;
  white-space: normal;
 }  

 .contents__block--five:hover{
  filter: grayscale(100%);
  transform: scale(1.1, 1.1);
 }  