body {
  line-height: 1.8;
  margin: 0;
  display: block;
  box-sizing: border-box;
  background-position: 0%;
  background-image: image-url("background1.jpg");
  box-sizing: border-box;
  background-size: cover;
}

