.navigation {
  height: 70px;
  top: 20px;
  width: 100%;
  padding: 0.5rem 1rem;
  z-index: 3;
  background-color: transparent !important;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  &__center {
    width: 100%;
    height: 100%;
    padding-right: 100px;
    padding-left: 100px;
    text-align: left;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    align-items: stretch !important;
    display: flex !important;
    background-color: transparent;
    .navigation__left {
      width: calc(100% - 75%); 
      padding-right: 15px;
      padding-left: 15px;
      display: inline-block;
      position: relative;
      box-sizing: border-box;
      background-color:transparent;
      .name {
        font-size:20px;
        color: #fff;
        font-family: 'Josefin Sans', sans-serif;
        line-height: 1;
      }
    }
    .navigation__right {
      width: 100%; 
      padding-right: 15px;
      padding-left: 15px;
      margin-top: 0.1rem !important;
      text-align: right !important;
      display: inline-block;
      position: relative;
      box-sizing: border-box;
      background-color: transparent;
      .curled-box {
        border-radius: 50%;
        height: 50px;
        width: 50px;
        margin: auto;
        text-align: center;
        display: inline-block;
        background-color: rgba(167, 165, 157, 0.8%);
        .contents__btn {
          font-size: 28px;
          top: 50%;
          left: 50%;
          color:antiquewhite !important;
          margin: auto;
        }
      }
        .curled-box:hover {
          background: rgba(59, 89, 152, 0.8%);
          -webkit-transform: rotateZ(-30deg);
          -ms-transform: rotateZ(-30deg);
          transform: rotateZ(-30deg);
         }

      .navbar__menu--btn {
        margin-left: 30px;
        font-size: 17px;
        letter-spacing: .1em;
        box-sizing: border-box;
        border: none;
        text-transform: uppercase;
        background-color: transparent;
        color:antiquewhite !important;
      }
    }
  }
}
.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contents {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  &__block {
    width: calc(100% - 10%);
    height: 75vh;
    top: 110px;
    left: 5%;
    position: absolute;
    margin: auto;
    display: flex;
    background-color: transparent;
    box-sizing: border-box;
    &--one {
      width: calc(100% - 80%);
      filter: grayscale(100%);
      display: inline-block;
      text-align: center;
      background-image: image-url("06");
      background-size: cover;
      &-text1 {
        font-size: 20px;
        color: white;
        font-family: 'Quicksand', sans-serif;
        line-height: 100vh;
      }
      &-text11 {
        font-size: 10px;
        color: white;
        font-family: 'Quicksand', sans-serif;
        line-height: 100vh;
      }
    }
    &--two {
      width: calc(100% - 80%);
      filter: grayscale(100%);
      display: inline;
      text-align: center;
      background-image: image-url("01");
      background-size: cover;
      &-text2 {
        font-size: 20px;
        color: white;
        font-family: 'Crimson Text', serif;
        line-height: 100vh;
      }
      &-text22 {
        font-size: 10px;
        color: white;
        font-family: 'Quicksand', sans-serif;
      }
    }
    &--three {
      width: calc(100% - 80%);
      filter: grayscale(100%);
      display: inline;
      text-align: center;
      background-image: image-url("04");
      background-size: cover;
      &-text3 {
        font-size: 20px;
        color: white;
        font-family: 'Libre Baskerville', serif;
        line-height: 100vh;
      }
      &-text33 {
        font-size: 10px;
        color: white;
        font-family: 'Quicksand', sans-serif;
      }
    }
    &--four {
      width: calc(100% - 80%);
      filter: grayscale(100%);
      display: inline;
      text-align: center;
      background-image: image-url("02");
      background-size: cover;
      &-text4 {
        font-size: 20px;
        color: white;
        font-family: 'Quicksand', sans-serif;
        line-height: 100vh;
      }
      &-text44 {
        font-size: 10px;
        color: white;
        font-family: 'Karla', sans-serif;
      }
    }
    &--five {
      width: calc(100% - 80%);
      display: inline;
      text-align: center;
      background-image: image-url("07");
      filter: grayscale(100%);
      background-size: cover;
      &-text5 {
        font-size: 20px;
        color: white;
        font-family: 'Quicksand', sans-serif;
        line-height: 100vh;
      }
      &-text55 {
        font-size: 10px;
        color: white;
        font-family: 'Quicksand', sans-serif;
      }
    }
  }
  &__title {
    width: calc(100% - 30%);
    height: 20vh;
    top: 30%;
    position: absolute;
    margin: auto 0;
    left: 15%;
    display: flex;
    background-color: rgba(167, 165, 157, 0.6%);
    box-sizing: border-box;
    &--words {
      font-size: 60px;
      color: bisque;
      font-family: 'Cedarville Cursive', cursive;
      font-weight: 500;
      margin: 0 auto;
    }
  }
  &__title2 {
    width: calc(100% - 40%);
    height: 10vh;
    top: 60%;
    position: absolute;
    margin: auto 0;
    left: 20%;
    display: flex;
    background-color: transparent;
    box-sizing: border-box;
    &--word {
      font-size: 20px;
      color: bisque;
      font-family: 'Crimson Text', serif;
      margin: 0 auto;
    }
  }
  &__bottom {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    bottom: 0;
    margin: 0 auto;
    text-align:center;
    &--button {
      display: inline-block;
      text-decoration: none;
      color: antiquewhite;
      width: 100px;
      height: 100px;
      line-height: 100px;
      border-radius: 50%;
      border: solid 2px antiquewhite;
      text-align: center;
      overflow: hidden;
      font-weight: bold;
      transition: .4s;
    }
    &--button:hover {
      color: antiquewhite;
      transform: scale(1.1) rotate(360deg);
      background: #333;
    }
  }
}
.resistration {
  width: 100%;
  height: 10px;
  bottom: 0px;
  box-sizing: border-box;
  .resistration__text {
    font-size: 12px;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    float: right;
    padding-right: 100px;
  }
}
